name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write # Needed to publish tags and create releases
  packages: write # (optional) Only needed if publishing to GitHub Packages
  pull-requests: write # Needed to create Release PRs

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch full history for proper commit analysis

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22.19.0
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
  
      - name: Prebuild
        run: npm run prebuild

      - name: Release
        run: npm run lazy-release -- --github-token ${{ secrets.GITHUB_TOKEN }} --from 36131ccfb4dafbb04310b99c860a61580440ccdb

      - name: Get version
        id: get-version
        run: |
          VERSION=$(npm --silent run lazy-release version)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Publish
        if: ${{ steps.get-version.outputs.version != '' }}
        run: |
          npm run package
          npx vsce publish ${{ steps.get-version.outputs.version }}
        env:
          VSCE_PAT: ${{ secrets.VSCE_TOKEN }}
